html {
    background: rgb(243, 207, 70);
}

body {
    width: 80vw;
    max-width: 800px;
    margin: 20px auto;
}

a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
}

button {
    background: black;
    color: rgb(243, 207, 70);
    border: none;
    padding-top: 3px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

input {
    border: none;
}